/* experience.css */

#experience {
    
    padding: 40px 0;
    
}

.experienceContainer {
    max-width: 800px;
    margin: 0 auto;
}

.ExperienceTitle {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: yellow;
}

.experienceList {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 30px 30px;
}

.experienceListImg {
    width: 100px; /* Adjust the width as needed */
    height: auto;
    margin-right: 20px;
}

.ExperienceDesc {
    flex: 1;
    margin-left: 20px;
}

h4 {
    font-size: 18px;
    margin: 0;
}

p {
    margin: 0;
    font-size: 16px;
}

/* Add any additional styling as needed */
